*~
build/
debug/
release/
coverage/
sanitize/
*.log
Module.symvers
modules.order
.[Mm]odule*
.clang-format*
cli-ref.md
html
latex
cmake-modules
tmp/
tools/
stuff/
libfuse*/
C-Thread-Pool/
mongoose/
ndctl*/
perf/openclose_bench
perf/mmap_bench
TAGS
#*
.#*
